@{
    Script.Require("FacebookSuite").AtFoot();
}

<div id="fb-root">
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        (function ($) {
            $(function () {
                $.facebookSuite.initialize("@Model.AppId", "@Model.Culture");
            });
        })(jQuery);
    </script>
}