@{
    var facePile = (Piedone.Facebook.Suite.Models.FacebookFacepilePart)Model.ContentPart;
}
<div class="fb-facepile" data-size="@facePile.Size" data-width="@facePile.Width" data-max-rows="@facePile.MaxRows" data-colorscheme="@facePile.ColorScheme">
</div>