@using Orchard.Utility.Extensions;
@*For Request.ToUrlString()*@
<div class="fb-comments" data-href="@ViewContext.RequestContext.HttpContext.Request.ToUrlString()" data-num-posts="@Model.NumberOfPosts" data-width="@Model.Width" data-colorscheme="@Model.ColorScheme">
</div>
