@using Orchard.Utility.Extensions;
@{
    var commentsBox = (Piedone.Facebook.Suite.Models.FacebookCommentsBoxPart)Model.ContentPart;
}
<div class="fb-comments" data-href="@ViewContext.RequestContext.HttpContext.Request.ToUrlString()" data-num-posts="@commentsBox.NumberOfPosts" data-width="@commentsBox.Width" data-colorscheme="@commentsBox.ColorScheme">
</div>
